.backdrop{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  background: rgba(0,0,0,0.5);
}

.modal-container{
  max-width: 60%;
  max-height: 90%;
  margin: 110px auto;
  padding: 1rem;
  border:3px rgba(255,255,255,0.8) solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
  background-color: rgba(0,0,0,0.8);
}

.backdrop img{

  display: block;
  max-width: 85%;
  max-height: 45%;
}

.modal-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-title{
  font-size: 30px;
  font-weight: bold;
  margin: 0.5rem auto;
}

.modal-tech{
  font-size: 20px;
  font-style: italic;
  margin: 0.5rem auto;
}
.modal-desc{
  font-size: 22px;
  margin: 0.5rem auto;
  text-align: center;
}

.modal-links{
  font-size: 20px;
  display: flex;
  margin: 1rem auto;
}
.modal-links a{
  margin-left:2rem;
  text-decoration: underline;
}

@media (max-width: 768px){
  .modal-container{
    max-width:360px;
    max-height: 700px ;
    margin:10rem auto 0 auto;
    padding:0;
    border:none;
    border:2px rgba(255,255,255,0.8) solid;
  }
  .modal-info{
    width: 100%;
    padding: .9rem;
  }
  .modal-title{
    font-size: 18px;
    font-weight: bold;
    margin: 0.5rem auto;
  }
  
  .modal-tech{
    font-size: 10px;
    font-style: italic;
    margin: 0.5rem auto;
  }
  .modal-desc{
    font-size: 16px;
    margin: 0.5rem auto;
    text-align: center;
  }
  .modal-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
  }
  .modal-links a{
    font-size: 16px;
    margin:0.5rem 0;
  }
}

@media (max-width: 600px){
  .modal-container{
    max-width:360px;
    max-height: 700px ;
    margin:10rem auto 0 auto;
    padding:0;
    border:none;
    border:2px rgba(255,255,255,0.8) solid;
  }
  .modal-info{
    width: 100%;
    padding: .9rem;
  }
  .modal-title{
    font-size: 18px;
    font-weight: bold;
    margin: 0.5rem auto;
  }
  
  .modal-tech{
    font-size: 10px;
    font-style: italic;
    margin: 0.5rem auto;
  }
  .modal-desc{
    font-size: 16px;
    margin: 0.5rem auto;
    text-align: center;
  }
  .modal-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
  }
  .modal-links a{
    font-size: 16px;
    margin:0.5rem 0;
  }
}

@media (max-width: 375px){
  .modal-container{
    max-width:360px;
    max-height: 700px ;
    margin:10rem auto 0 auto;
    padding:0;
    border:none;
    border:2px rgba(255,255,255,0.8) solid;
  }
  .modal-info{
    width: 100%;
    padding: .9rem;
  }
  .modal-title{
    font-size: 18px;
    font-weight: bold;
    margin: 0.5rem auto;
  }
  
  .modal-tech{
    font-size: 10px;
    font-style: italic;
    margin: 0.5rem auto;
  }
  .modal-desc{
    font-size: 16px;
    margin: 0.5rem auto;
    text-align: center;
  }
  .modal-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
  }
  .modal-links a{
    font-size: 16px;
    margin:0.5rem 0;
  }
}

