.work{
  background-color: white;
  padding:2rem;
}
.work-title{
  padding: 2rem 0;
  color:black;
  text-align: center;
}
.list-of-work{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
}

.site-card{
  width:500px;
  margin:1rem;
  color:black;
  text-align: center;
  border:1px solid black;
  box-shadow: 10px 5px 5px grey;
  transform: scale(.9);
  transition: all .2s ease-in-out;
}
.site-card:hover{
  transform: scale(1);
  cursor: pointer;
}

.site-card-img{
  width: 100%;
}


@media (max-width: 768px){
  .work{
    padding:1rem;
  }

  .site-card{
    width:340px;
    text-align: center;
  }
  .site-card-img{
    width: 280px;
  }
}
